:root {
  --gradient: linear-gradient(
    to right,
    #581c87,
    rgb(88, 28, 135),
    #1e40af
  );
  --primary: #581c87;
  --secondary: #1e40af;
}

.main {
  width: 100%;
  background: var(--gradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cta {
  height: 400;
  width: 100%;
  background: var(--gradient), url("../src/assets/office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
